/* Réinitialisation des styles et police de base */
body {
    font-family: 'Lilita One', sans-serif;
    margin: 0;
    padding: 0;
    background: url('forest-868715.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 22px;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour le header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li.active a {
    background-color: #555;
}

/* Styles pour le main */
main {
    padding: 20px 0;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}

p {
    text-align: justify;
}

/* Styles pour les formulaires */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6347;
}

/* Styles pour le footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#text-container {
    height: 200px; /* Hauteur de l'élément */
    overflow-y: auto; /* Ajouter une barre de défilement verticale si nécessaire */
}

/* Styles spécifiques pour la page3 */
.page3 #season1-content {
    font-size: 30px; /* Changer la taille selon vos préférences */
    max-height: 950px; /* Hauteur maximale de l'élément */
    overflow-y: auto; /* Ajouter une barre de défilement verticale si nécessaire */
    padding: 10px; /* Ajouter un padding pour un meilleur rendu */
    border: 1px solid #ccc; /* Optionnel : ajouter une bordure pour délimiter la section */
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    border-radius: 10px; /* Bordures arrondies */
}
